{% extends 'base.html.twig' %}

{% block title %} Scuola Aldini - Indirizzi {% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    </script>
{% endblock %}
        
{% block body %}
    <div id="app">
        <App />
    </div>
{% endblock %}