{% extends 'alec.html.twig' %}

{% block title %} Scuola Aldini - Aule {% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    </script>
{% endblock %}
        
{% block body %}
    <div id="app" alec = {{id}}>
        <App />
    </div>
{% endblock %}