{% extends 'auth.base.html.twig' %}

{% block title %} Autenticati {% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    </script>
{% endblock %}
        
{% block body %}
    <div id="app" >
        <App />
    </div>
{% endblock %}